.card {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  height: 100%;

  background-color: #000;

  border-radius: 15px;
  box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.3);

  margin: 10px;
}

.card > img {
  height: 240px;

  border-radius: 15px 15px 0 0;

}

.info {
  padding: 20px;
}

h1 {
  font-size: 22px;
  font-weight: 900;
  color: #fff;
  margin: 2px 0 2px;
}

h2 {
  font-size: 12px;
  font-weight: 900;
  color: #fff;
  margin: 2px 0 10px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

}

p {
  font-size: 14px;
  font-weight: 800;
  color: #fff;
  margin: 5px 0;
}

p > span {
  font-weight: 400;
}
